body {
    background-color: #f5f7d9;
background-image: url("https://www.transparenttextures.com/patterns/black-felt.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}
.container {
    margin-top: 3%;
    margin-bottom: 3%;
}
.margin-left {
  margin-left: 4% !important;
  margin-top: 5%;
}
.navbar-brand {
  background-color: teal;
  margin-left: 5% !important;
  padding: 20px !important;
}
.navbar {
  padding: 0px !important;
  border-bottom: 5px solid gray;
 
}
.name {
  font-size: 28px !important;
  font-weight: 600;
  color: whitesmoke !important;
}

.text-container {
  font-size: 22px;
  width: 100%;
  margin: 40% auto;
  padding: 20px;
  text-align: center;
  background-color: teal;
  color: white;
}
.portfolio {
    font-size: 40px;
    color: teal;
    font-weight: 600;
}
footer {
    position: absolute;
    bottom: 0;
    background-color: grey;
    width: 100%;
    height: 80px;
    text-align: center;
    
}
.footerBorder {
    border-width: 8px !important;
    border-color: teal !important;
}
.portfolioContainer {
    background-color: whitesmoke;
}
.portfolioBorder {
    border-width: 8px !important;
    border-color: gray !important;
}
i {
    padding: 20px;
    color: whitesmoke;
    font-weight: 200 !important;
}
form {
    font-size: 20px;
    padding: 0px 20px 20px 20px !important;
    margin
}
.contact {
    font-size: 28px;
    color: teal;
    font-weight: 700;
    margin-top: 20px;
}
label {
    padding-bottom: 10px;
    color: gray;
}
.submitBtn {
    border: none !important;
    background-color: teal;
    border-radius: 0% !important;
    color: whitesmoke;
    padding: 5px 20px 5px 20px;
}
